@import "fonts/roboto-v30-latin/font-face.css";
@import "fonts/roboto-serif-v8-latin/font-face.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-back text-front;
  }
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    position: relative;
}

.react-datepicker__day {
  background-color: transparent;
  color: white;
  font-weight: light;
}

.react-datepicker__month-container .react-datepicker__day--selected,
.react-datepicker__month-container .react-datepicker__day:hover {
  background-color: #11F1A6;
  font-weight: bold;
}

.react-datepicker__month-container .react-datepicker__day--keyboard-selected {
  background-color: transparent;
} 

.react-datepicker__month-container,
.react-datepicker__month-container .react-datepicker__header {
  background-color: #4E4270;
}
.react-datepicker__portal .react-datepicker {
  border: 2px solid #11F1A6;
  border-radius: 5px;
}

.react-datepicker__month-container
.react-datepicker__day,
.react-datepicker__month-container
.react-datepicker__day-name,
.react-datepicker__month-container
.react-datepicker__current-month{
  font-family: "Roboto";
}

.react-datepicker__month-container
.react-datepicker__day,
.react-datepicker__month-container
.react-datepicker__day-name {
  font-weight: light;
  color: white;
}

.react-datepicker__month-container
.react-datepicker__current-month{
  font-weight: bold;
  color: #11F1A6;

}

.react-datepicker__month-container .react-datepicker__header {
  border: none;
}

.react-datepicker .react-datepicker__navigation-icon {
  top: 10px;
}

.react-datepicker .react-datepicker__navigation-icon::before,
.react-datepicker .react-datepicker__navigation:hover *::before{
  border-color: #11F1A6;
}